.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 14px;
}

.user-info i {
  color: #00adee;
  font-size: 18px;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#username, #email, #password, #confirmPassword {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: white;
}

.volver-btn {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
.enviar-btn,
.actualizar-btn,
.login-btn {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #00adee;
  color: white;
  cursor: pointer;
}


#confirm {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: white;
}

.recuperar-btn,
.registro-btn {
  padding: 4px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #00adee;
  color: white;
  cursor: pointer;
}
