@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import 'css/cards.css';
@import 'css/game-detail.css';
@import 'css/forms.css';
@import 'css/buttons.css';
@import 'css/stats.css';
@import 'css/login-register.css';
@import 'css/auth-pages.css';
